<%- include tips_header %>

<% tips.forEach(function (tip, index) { %>
<div class="col-4 note_paper">
	<h2><a href="/tips/single/<%= tip._id%>"><%= tip.title %></a></h2>
	<p class="info"> 
		
		<% tip.tags.forEach(function (tag, index) { %>
			<% if (tag) { %>
				<a class="tag" href="/tips/tags/<%= tag%>">#<%= tag %></a> 
			<% } %>
		<% }) %>
	</p>
	<div>
	<div class="paper_content"><%- tip.content %></div>
	</div>
	<div class="bottom_time"> <p><%= tip.time.day %></p></div> 
</div>
<% }) %>


<%- include tips_paging %>
<%- include tips_footer %>